requests_oauthlib
click
click-plugins
click-config-file
pytest
pytest-cov
pyflakes
mkdocs
mkdocs-material
mkdocstrings
mkdocs-click
pygments
pymdown-extensions
mkdocs-autolinks-plugin
mkdocs-jupyter
mkdocs-exclude
mkdocs-exclude-search
mkdocs-macros-plugin
mkdocs-print-site-plugin
mkdocs-pdf-export-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-windmill
mkdocs-img2fig-plugin
mkdocs-rss-plugin==0.13.0